@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Upendo.Modules.UserManager.ViewModels.UserViewModel>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers
@{
    string defaultUserPicture = "/DesktopModules/MVC/Upendo.Modules.UserManager/Images/defaultUserPicture.jpg";
}
<div class="row accountSettings">
    <div class="col-6">
        <h4 class="center" id="title">ACCOUNT SETTINGS</h4>
        <fieldset class="ml30">
            <div class="row ml5">
                <div class="formItem col-6">
                    <div><label>First Name</label></div>
                    @Html.TextBoxFor(m => m.FirstName)
                </div>
                <div class="formItem col-6">
                    <div><label>Last Name</label></div>
                    @Html.TextBoxFor(m => m.LastName)
                </div>
                <div class="formItem col-6">
                    <div><label>Username</label></div>
                    @Html.TextBoxFor(m => m.Username)
                </div>
                <div class="formItem col-6">
                    <div><label>Email</label></div>
                    @Html.TextBoxFor(m => m.Email, new
                    {
                    @class = "form-control",
                    @type = "email"
                    })
                </div>
                <div class="col-6">
                    @Html.CheckBoxFor(m => m.IsSuperUser, new { @id = "checkbox" })
                    <label class="checkbox">IsSuperUser</label>
                </div>
                <div class="col-6">
                    @Html.CheckBoxFor(m => m.Approved, new { @id = "checkbox" })
                    <label class="checkbox">Approved</label>
                </div>
                <div class="col-6">
                    @Html.CheckBoxFor(m => m.SendEmail, new { @id = "checkbox" })
                    <label class="checkbox">Send An Email To New User</label>
                </div>
            </div>
            @Html.HiddenFor(m => m.UserId)
        </fieldset>
        <div class="col-12 mt20">
            <a data-hint="ChangePassword" class="btn btn-info btn-sm edit hint--top hint--info"
               href="@Url.Action("ChangePassword", "UserManage", new {ctl = "Edit", itemId = @Model.UserId})">
                <span>Change Password</span>
            </a>
        </div>
        @* <div class="col-12">
            <a data-hint="Details"
            href="@Url.Action("Details", "UserManage", new {ctl = "Edit", itemId = @Model.UserId})">
            <span>Force Password Change</span>
            </a>
            </div> *@
        <div class="col-12">
            <a data-hint="Details"
               href="@Url.Action("Details", "UserManage", new {ctl = "Edit", itemId = @Model.UserId})">
                <span>Send Password Reset Link</span>
            </a>
        </div>
    </div>
    <div class="col-6">
        <h4 class="center" id="title">ACCOUNT DATA</h4>
        <div class="accountData">
            <div>
                <img src=@defaultUserPicture alt="User" width="200" height="200" class="float-right">
            </div>
            <p>User ID: @Model.UserId</p>
            <p>Created Date: @Model.CreatedOnDate</p>
            <p>Deleted: @Model.IsDeleted</p>
            <p>Last Activity Date: @Model.LastModifiedOnDate</p>
            <p>Update Password: @Model.UpdatePassword</p>
            <h4 id="subtitle">User Roles</h4>
            <ul>
                @{
                    foreach (var item in Model.UserRoles)
                    {
                        <li> @item</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
</div>
<div class="buttomForm mt20">
    <div class="center">
        <button type="submit" class="primary">Save</button>
        <button id="cancelEdit" href="#">@Dnn.LocalizeString("Cancel")</button>
    </div>
</div>
<script>

</script>
<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function ($, Sys) {
        function dnnEditBasicSettings() {
            $('#dnnEditBasicSettings').dnnPanels();
            $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({
                expandText: '@Dnn.LocalizeString("ExpandAll")',
                collapseText: '@Dnn.LocalizeString("CollapseAll")',
                targetArea: '#dnnEditBasicSettings'
            });
        };
        $(function () {
            $('#cancelEdit').click(function () { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                dnnEditBasicSettings();
            });
        });
    }(jQuery, window.Sys));
</script>