@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Upendo.Modules.UserManager.ViewModels.RolesViewModel>
@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Services.Localization;

@{
    string ResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/AddEditRoles.resx";
}
<div class="dnnDialog">
    <fieldset>
        <div class="dnnFormItem">
            <div><label>@Localization.GetString("RoleName", @ResourceFile)</label></div>
            @Html.TextBoxFor(m => m.RoleName)
        </div>
        <div class="dnnFormItem">
            <div><label>@Localization.GetString("Description", @ResourceFile)</label></div>
            @Html.TextBoxFor(m => m.Description)
        </div>
        <div class="dnnFormItem">
            <div><label>@Localization.GetString("RoleGroup", @ResourceFile)</label></div>
            @Html.DropDownListFor(m => m.RoleGroupID, new SelectList(ViewBag.RoleGroups, "RoleGroupId",
            "RoleGroupName"))
        </div>
        <div class="dnnFormItem">
            <div><label>@Localization.GetString("Status", @ResourceFile)</label></div>
            @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.StatusList, "Status",
            "Name"))
        </div>
        <div class="dnnFormItem col-3">
            @Html.CheckBoxFor(m => m.AutoAssignment, new { @id = "chkAutoAssign" })
            <label for="chkAutoAssign">@Localization.GetString("AutoAssignment", @ResourceFile)</label>
        </div>
        <div class="dnnFormItem col-3">
            @Html.CheckBoxFor(m => m.IsPublic, new { @id = "chkIsPublic" })
            <label for="chkIsPublic">@Localization.GetString("IsPublic", @ResourceFile)</label>
        </div>

        @Html.HiddenFor(m => m.RoleId)
    </fieldset>
    <div class="buttomForm mt20">
        <button type="submit" class="dnnPrimaryAction">@Localization.GetString("Save", @ResourceFile)</button>
        <button id="cancelEdit" href="#" class="dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</button>
    </div>
</div>
<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function ($, Sys) {
        function dnnEditBasicSettings() {
            $('#dnnEditBasicSettings').dnnPanels();
            $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({
                expandText: '@Dnn.LocalizeString("ExpandAll")',
                collapseText: '@Dnn.LocalizeString("CollapseAll")',
                targetArea: '#dnnEditBasicSettings'
            });
        }
        $(function () {
            $('#cancelEdit').click(function () { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                dnnEditBasicSettings();
            });
        });
    }(jQuery, window.Sys));
</script>