@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DataTableResponse<Upendo.Modules.UserManager.ViewModels.RolesViewModel>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using Upendo.Modules.UserManager.ViewModels;
@using DotNetNuke.Services.Localization;

@{
    string srcLogo = DotNetNuke.Entities.Tabs.TabController.CurrentPage.Title + "/DesktopModules/MVC/Upendo.Modules.UserManager/Images/Upendo-logo-trans.png";
    var pageIndexMinus = (@Model.PageIndex - @Model.Take) <= 0 ? 0 : (@Model.PageIndex - @Model.Take);
    var pageIndexPlus = @Model.PageIndex + @Model.Take;
    var showing = @Model.PageIndex + 1;
    var pageIndexTo = @Model.PageIndex + @Model.Take;
    var pageView = @Model.GoToPage > 1 ? @Model.GoToPage : (pageIndexTo / @Model.Take) == 0 ? 1 : (pageIndexTo / @Model.Take);
    string ResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Index.resx";
    string SharedResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Shared.resx";
}
<div id="Items-@Dnn.ModuleContext.ModuleId" style="margin: 2%!important;">

    <h2 id="subtitle">@Localization.GetString("EditingSiteRoles", @SharedResourceFile)</h2>
    <hr />

    <div class="col-md-9">
        <ul class="nav navbar-nav" style="margin-right: 20px;">
            <li class="dropdown">
                <a class="dropDown btn dropdown-toggle" data-toggle="dropdown" href="#" style=" display: inline-flex;">
                    @Localization.GetString("RowsPerPage", @SharedResourceFile) @Model.Take
                    <span class="caret"></span>
                </a>        <ul class="dropdown-menu">
                    <li>
                        <a class="confirm page-link" href="@Url.Action("Index", "RolesManage", new { take = 5, pageIndex = @Model.PageIndex, search=@Model.Search})">
                            <span aria-hidden="true">5</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("Index", "RolesManage", new { take = 10, pageIndex = @Model.PageIndex, search=@Model.Search})">
                            <span aria-hidden="true">10</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("Index", "RolesManage", new { take = 50, pageIndex = @Model.PageIndex, search=@Model.Search})">
                            <span aria-hidden="true">50</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("Index", "RolesManage", new { take = 100, pageIndex = @Model.PageIndex, search=@Model.Search})">
                            <span aria-hidden="true">100</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("Index", "RolesManage", new { take = @Model.RecordsTotal, pageIndex = @Model.PageIndex, search=@Model.Search})">
                            <span aria-hidden="true">@Localization.GetString("All", @SharedResourceFile)</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary box-shadow" type="submit">
                    <span class="glyphicon glyphicon-search color-white" aria-hidden="true"></span> 
                    @Localization.GetString("Search", @SharedResourceFile)
                </button>
            </span>
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @type = "text", @style = " height: 40px;box-shadow: 0 0 3px 0 #888888" })
        </div>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav navbar-right">
            <a type="button" class="dnnPrimaryAction" href="@Url.Action("Create", "RolesManage", new {ctl = "Edit"})">
                <span class="glyphicon glyphicon-search color-white" aria-hidden="true"></span>  
                @Localization.GetString("CreateRole", @ResourceFile)
            </a>
            <a type="button" class="btn btn-warning color-white" style="display: initial;" href="@Url.Action("Index", "UserManage", new {})">
                <span class="glyphicon glyphicon-chevron-left color-white" aria-hidden="true"></span> 
                @Localization.GetString("UserList", @ResourceFile)
            </a>
        </ul>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color:#6d5a2c; color:#FFFFFF">
                <th class="hidden">@Localization.GetString("Id", @ResourceFile)</th>
                <th>
                    @Localization.GetString("RoleName", @ResourceFile)
                    <div class="nav navbar-nav navbar-right">
                        <a class="btn-sm" href="@Url.Action("Index", "RolesManage", new {take = @Model.Take, pageIndex=@Model.PageIndex, search=@Model.Search, orderBy="RoleName" , order="asc"})"
                           data-toggle="tooltip" data-placement="top" title="Asc">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="color:#FFFFFF"></span>
                        </a>
                        <a class="btn-sm" href="@Url.Action("Index", "RolesManage", new {take = @Model.Take, pageIndex=@Model.PageIndex, search=@Model.Search, orderBy="RoleName", order="desc"})"
                           data-toggle="tooltip" data-placement="top" title="Desc">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="color:#FFFFFF"></span>
                        </a>
                </th>
                <th>@Localization.GetString("Users", @ResourceFile)</th>
                <th style="text-align:center">@Localization.GetString("Auto", @ResourceFile)</th>
                <th style="text-align:center">@Localization.GetString("Actions", @ResourceFile)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PagesTotal == 0)
            {
                <tr>
                    <td colspan="6">
                        <div class="center">
                            <h1>@Localization.GetString("NoUsersFound", @ResourceFile)</h1>
                            <h2>@Localization.GetString("SearchCriteria", @ResourceFile)</h2>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Data)
                {
                    <tr>
                        <td class="hidden">
                            @item.RoleId
                        </td>
                        <td>
                            @item.RoleName
                        </td>
                        <td>
                            @item.UserCount
                        </td>
                        <td class="text-center">
                            @if (@item.AutoAssignment == true)
                            {
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:yellowgreen"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span>

                            }

                        </td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sm edit hint--top hint--warning" href="@Url.Action("Edit", "RolesManage", new {ctl = "Edit", itemId = item.RoleId})"
                               data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Edit", @SharedResourceFile)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <span id="dialogs-delete" class="dnnActions" style="display: initial;">
                                <a class="confirm btn btn-danger btn-sm delete hint--top hint--error" data-placement="top" data-singleton="true" href="@Url.Action("Delete", "RolesManage", new {itemId = item.RoleId})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="data-footer">
        <span class="text-align-left">@Localization.GetString("Page", @SharedResourceFile) @pageView @Localization.GetString("Of", @SharedResourceFile) @Model.PagesTotal @Localization.GetString("Pages", @SharedResourceFile)</span>
        <div class="input-group ml10">
            <span class="input-group-btn">
                <button class="btn btn-primary box-shadow" type="submit">@Localization.GetString("GoToPage", @SharedResourceFile)</button>
            </span>
            @Html.TextBoxFor(m => m.GoToPage, new { @class = "form-control", @type = "text", @style = "width: 82px; height: 40px;box-shadow: 0 0 3px 0 #888888" })
        </div>
        <div class="right">
            <span> @Localization.GetString("Showing", @SharedResourceFile)  @showing @Localization.GetString("To", @SharedResourceFile) @pageIndexTo @Localization.GetString("Of", @SharedResourceFile) @Model.RecordsTotal @Localization.GetString("Entries", @SharedResourceFile)</span>
            <a class="btn btn-default btn-sm hint--top hint--" href="@Url.Action("Index", "RolesManage", new {take = @Model.Take, pageIndex=@pageIndexMinus, search=@Model.Search, orderBy="RoleName" , order=@Model.Order})"
               data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Previus", @SharedResourceFile)">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default btn-sm ml5 hint--top hint--" href="@Url.Action("Index", "RolesManage", new {take = @Model.Take, pageIndex=@pageIndexPlus, search=@Model.Search, orderBy="RoleName" , order=@Model.Order})"
               data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Next", @SharedResourceFile)">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<script>
    var deleteText = '@DotNetNuke.Services.Localization.Localization.GetString("DeleteRolConfirmation.Text", "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Index.resx")';

    $(function () {
        $('.dropdown-toggle').dropdown()
    });
    $(function () {
        $('#dialogs-delete .confirm').dnnConfirm({
            title: "",
            yesText: "Delete",
            noText: "Cancel",
            dialogClass: 'dnnFormPopup',
            text: '<p style="font-size:20px;">' + deleteText + '</p>'
        });
    });
</script>   