@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Upendo.Modules.UserManager.ViewModels.BulkDeleteViewModel>
@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Services.Localization;

@{
    string ResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Index.resx";
    string SharedResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Shared.resx";
    string ResourceFileBulkDelete = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/BulkDelete.resx";
}

<div class="UDUM_m2">
    <h2 id="subtitle">
        @Localization.GetString("BulkDeleteUserAccounts", @ResourceFileBulkDelete)
        <a type="button" class="btn btn-warning color-white float-right" style="display: initial;"
           href="@Url.Action("Index", "UserManage", new {})">
            <span class="glyphicon glyphicon-chevron-left color-white" aria-hidden="true"></span>
            @Localization.GetString("UserList", @ResourceFile)
        </a>
    </h2>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="dnnFormMessage dnnFormError">
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }
    <fieldset>
        <div class="form-group">
            <label for="userIds">@Localization.GetString("EnterUserIDsCommaSeparated", @ResourceFileBulkDelete)</label>
            @Html.TextAreaFor(m => m.UserIds, new { @class = "form-control UDUM_custom-textarea" })
        </div>
        <div class="form-group">
            <label for="permanentDelete">@Localization.GetString("PermanentDelete", @ResourceFileBulkDelete)</label>
            @Html.CheckBoxFor(m => m.PermanentDelete)
        </div>
        <div class="UDMU_tooltip-custom">
            <button type="submit" class="btn btn-danger @(ViewBag.IsCurrentUserSuperUser ? "" : "UDMU_disabled")"
                    @(ViewBag.IsCurrentUserSuperUser ? "" : "disabled")>
                @Localization.GetString("DeleteUsers", @ResourceFileBulkDelete)
            </button>
            <span class="UDMU_tooltiptext @(!ViewBag.IsCurrentUserSuperUser ? "" : "hidden")">
                @Localization.GetString("OnlySuperUserIsAllowedBulkDeleteUserAccounts", @SharedResourceFile)
            </span>
        </div>
    </fieldset>
</div>
@if (ViewBag.ResultLog != null)
{
    <h3>@Localization.GetString("DeletionResults", @ResourceFileBulkDelete)</h3>
    <pre>@ViewBag.ResultLog</pre>
}