@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DataTableResponse<Upendo.Modules.UserManager.ViewModels.RolesViewModel>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using Upendo.Modules.UserManager.ViewModels;
@using DotNetNuke.Services.Localization;

@{
    string srcLogo = DotNetNuke.Entities.Tabs.TabController.CurrentPage.Title +
    "/DesktopModules/MVC/Upendo.Modules.UserManager/Images/Upendo-logo-trans.png";
    string name = ViewBag.User.DisplayName;
    int userId = ViewBag.User.UserId;
    var pageIndexMinus = (@Model.PageIndex - @Model.Take) <= 0 ? 0 : (@Model.PageIndex - @Model.Take);
    var pageIndexPlus = @Model.PageIndex + @Model.Take;
    var showing = @Model.PageIndex + 1;
    var pageIndexTo = @Model.PageIndex + @Model.Take;
    var pageView = @Model.GoToPage > 1 ? @Model.GoToPage : (pageIndexTo / @Model.Take) == 0 ? 1 : (pageIndexTo / @Model.Take);
    string ResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/UserRoles.resx";
    string SharedResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Shared.resx";

}
<div id="Items-@Dnn.ModuleContext.ModuleId" style="margin: 2% !important;">

    <h2 id="title">@Localization.GetString("RoleList", @ResourceFile) <span class="lead">@name (@userId)</span></h2>

    <hr />
    <div class="col-md-7">
        <ul class="nav navbar-nav navbar-left" style="margin-right: 20px;">
            <li class="dropdown">
                <a class="dropDown btn dropdown-toggle" data-toggle="dropdown" href="#" style="display: inline-flex;">
                    @Localization.GetString("RowsPerPage", @SharedResourceFile) @Model.Take
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 5, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">5</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 10, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">10</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 50, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">50</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 100, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">100</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.RecordsTotal, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">@Localization.GetString("All", @SharedResourceFile)</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary box-shadow" type="submit">
                    <span class="glyphicon glyphicon-search color-white" aria-hidden="true"></span>
                    @Localization.GetString("Search", @SharedResourceFile)
                </button>
            </span>
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @type = "text", @style = " height: 40px;box-shadow: 0 0 3px 0 #888888" })
        </div>
    </div>
    <div class="col-md-5">
        <ul class="nav navbar-nav navbar-right">
            <a type="button" class="btn btn-warning" href="@Url.Action("Index", "UserManage", new { })" style="color: white;">
                <span class="glyphicon glyphicon-chevron-left color-white" aria-hidden="true"></span>
                @Localization.GetString("UserList", @ResourceFile)
            </a>
        </ul>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #6d5a2c; color: #FFFFFF">
                <th hidden></th>
                <th>@Localization.GetString("Role", @ResourceFile)</th>
                <th class="centerInTable">START</th>
                <th class="centerInTable">EXPIRES</th>
                <th class="centerInTable">@Localization.GetString("Actions", @ResourceFile)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PagesTotal == 0)
            {
                <tr>
                    <td colspan="6">
                        <div class="centerInTable">
                            <h1>@Localization.GetString("NoRolesFounds", @ResourceFile)</h1>
                            <h2>@Localization.GetString("SearchCriteria", @ResourceFile)</h2>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Data)
                {
                    <tr>
                        <td hidden>
                            @item.Index
                        </td>
                        <td>
                            @item.RoleName
                        </td>
                        <td class="centerInTable">
                            <a class="btn btn-sm" href="#">
                                <div class="input-group date startPicker">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                        </td>
                        <td class="centerInTable">
                            <a class="btn btn-sm " href="#">
                                <div class="input-group date expiresPicker">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                        </td>
                        <td class="centerInTable">
                            @if (@item.HasRole == true)
                            {
                                <a class="btn btn-danger btn-sm edit hint--top hint--" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.Take, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId, roleId = item.RoleId, userId = @userId, actionView = "Remove" })"
                                   data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Delete", @ResourceFile)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary btn-sm edit hint--top hint--" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.Take, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId, roleId = item.RoleId, userId = @userId, actionView = "Add" })"
                                   data-toggle="tooltip" data-placement="top" title="@Localization.GetString("AddRole", @ResourceFile)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="data-footer">
        <span class="text-align-left">@Localization.GetString("Page", @SharedResourceFile) @pageView @Localization.GetString("Of", @SharedResourceFile) @Model.PagesTotal @Localization.GetString("Pages", @SharedResourceFile)</span>
        <div class="input-group ml10">
            <span class="input-group-btn">
                <button class="btn btn-primary box-shadow" type="submit">@Localization.GetString("GoToPage", @SharedResourceFile)</button>
            </span>
            @Html.TextBoxFor(m => m.GoToPage, new { @class = "form-control", @type = "text", @style = "width: 82px; height: 40px;box-shadow: 0 0 3px 0 #888888" })
        </div>
        <div class="right">
            <span> @Localization.GetString("Showing", @SharedResourceFile) @showing @Localization.GetString("To", @SharedResourceFile) @pageIndexTo @Localization.GetString("Of", @SharedResourceFile) @Model.RecordsTotal @Localization.GetString("Entries", @SharedResourceFile)</span>
            <a class="btn btn-default btn-sm hint--top hint--" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.Take, pageIndex = @pageIndexMinus, search = @Model.Search, itemId = @userId })"
               data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Previus", @SharedResourceFile)">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default btn-sm ml5 hint--top hint--" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.Take, pageIndex = @pageIndexPlus, search = @Model.Search, itemId = @userId })"
               data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Next", @SharedResourceFile)">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var startPicker = $('.startPicker').datepicker({
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
        }).on('changeDate', function(e) {
           
            $.ajax({
                url: '@Url.Action("UpdateDateTimeUserRole", "UserManage")',
                type: 'POST', 
                data: { 
                    itemId: @userId,
                    roleId: item.RoleId,
                    effectiveDate: e.date, 
                    expiryDate: e.date 
                },
                success: function(response) {
                   console.log(response);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                }
            });
        });

        var expiresPicker = $('.expiresPicker').datepicker({
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
        });
    });
</script>
<script>
    $(function () {
        $('.dropdown-toggle').dropdown()
    });
</script>