@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DataTableResponse<Upendo.Modules.UserManager.ViewModels.RolesViewModel>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using Upendo.Modules.UserManager.ViewModels;
@using DotNetNuke.Services.Localization;

@{
    string srcLogo = DotNetNuke.Entities.Tabs.TabController.CurrentPage.Title +
    "/DesktopModules/MVC/Upendo.Modules.UserManager/Images/Upendo-logo-trans.png";
    string name = ViewBag.User.DisplayName;
    int userId = ViewBag.User.UserId;
    var pageIndexMinus = (@Model.PageIndex - @Model.Take) <= 0 ? 0 : (@Model.PageIndex - @Model.Take);
    var pageIndexPlus = @Model.PageIndex + @Model.Take;
    var showing = @Model.PageIndex + 1;
    var pageIndexTo = @Model.PageIndex + @Model.Take;
    var pageView = @Model.GoToPage > 1 ? @Model.GoToPage : (pageIndexTo / @Model.Take) == 0 ? 1 : (pageIndexTo / @Model.Take);
    string ResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/UserRoles.resx";
    string SharedResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Shared.resx";

}
<div id="Items-@Dnn.ModuleContext.ModuleId" style="margin: 2% !important;">

    <h2 id="title">@Localization.GetString("RoleList", @ResourceFile) <span class="lead">@name (@userId)</span></h2>

    <hr />
    <div class="col-md-7">
        <ul class="nav navbar-nav navbar-left" style="margin-right: 20px;">
            <li class="dropdown">
                <a class="dropDown btn dropdown-toggle" data-toggle="dropdown" href="#" style="display: inline-flex;">
                    @Localization.GetString("RowsPerPage", @SharedResourceFile) @Model.Take
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 5, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">5</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 10, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">10</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 50, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">50</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = 100, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">100</span>
                        </a>
                    </li>
                    <li>
                        <a class="confirm page-link" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.RecordsTotal, pageIndex = @Model.PageIndex, search = @Model.Search, itemId = @userId })">
                            <span aria-hidden="true">@Localization.GetString("All", @SharedResourceFile)</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary box-shadow" type="submit">
                    <span class="glyphicon glyphicon-search color-white" aria-hidden="true"></span>
                    @Localization.GetString("Search", @SharedResourceFile)
                </button>
            </span>
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @type = "text", @style = " height: 40px;box-shadow: 0 0 3px 0 #888888" })
        </div>
    </div>
    <div class="col-md-5">
        <ul class="nav navbar-nav navbar-right">
            <a type="button" class="btn btn-warning" href="@Url.Action("Index", "UserManage", new { })" style="color: white;">
                <span class="glyphicon glyphicon-chevron-left color-white" aria-hidden="true"></span>
                @Localization.GetString("UserList", @ResourceFile)
            </a>
        </ul>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #6d5a2c; color: #FFFFFF">
                <th hidden></th>
                <th>@Localization.GetString("Role", @ResourceFile)</th>
                <th>@Localization.GetString("Start", @ResourceFile)</th>
                <th>@Localization.GetString("Expires", @ResourceFile)</th>
                <th>@Localization.GetString("Actions", @ResourceFile)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PagesTotal == 0)
            {
                <tr>
                    <td colspan="6">
                        <div class="centerInTable">
                            <h1>@Localization.GetString("NoRolesFounds", @ResourceFile)</h1>
                            <h2>@Localization.GetString("SearchCriteria", @ResourceFile)</h2>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Data)
                {
                    <tr>
                        <td hidden>
                            @item.Index
                        </td>
                        <td>
                            @item.RoleName
                        </td>
                        <td>
                            <p>
                                @(item.EffectiveDate.HasValue && item.EffectiveDate.Value != DateTime.MinValue ? item.EffectiveDate.Value.ToString("yyyy-MM-dd") : "")
                            </p>
                        </td>
                        <td>
                            <p>
                                @(item.ExpiryDate.HasValue && item.ExpiryDate.Value != DateTime.MinValue ? item.ExpiryDate.Value.ToString("yyyy-MM-dd") : "")
                            </p>
                        </td>
                        <td class="centerInTable">
                            <a class="btn btn-sm expiresSubmitButton @(item.HasRole ? "" : "disabled")" data-toggle="tooltip" data-placement="top" title="@Localization.GetString("StartDate", @ResourceFile)">
                                <div class="input-group date startPicker" data-role-id="@item.RoleId">
                                    <input class="startDateInput hidden" type="text" value="@(item.EffectiveDate.HasValue && item.EffectiveDate.Value != DateTime.MinValue ? item.EffectiveDate.Value.ToString("yyyy-MM-dd") : "")">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <a class="btn btn-sm expiresSubmitButton @(item.HasRole ? "" : "disabled")" data-toggle="tooltip" data-placement="top" title="@Localization.GetString("ExpiresDate", @ResourceFile)">
                                <div class="input-group date expiresPicker" data-role-id="@item.RoleId">
                                    <input class="expiresDateInput hidden" type="text" value="@(item.ExpiryDate.HasValue && item.ExpiryDate.Value != DateTime.MinValue ? item.ExpiryDate.Value.ToString("yyyy-MM-dd") : "")">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <a class="deleteButton btn btn-sm expiresSubmitButton @(item.HasRole ? "" : "disabled")" data-toggle="tooltip" data-placement="top" title="@Localization.GetString("ClearDates", @ResourceFile)" data-role-id="@item.RoleId">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </span>
                            </a>

                            @if (@item.HasRole == true)
                            {
                                <a class="btn btn-danger btn-sm edit hint--top hint-- remove-role-btn" data-item-id="@userId" data-role-id="@item.RoleId"
                                   data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Delete", @ResourceFile)">
                                    <span class="glyphicon glyphicon-trash color-white" aria-hidden="true"></span>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary btn-sm edit hint--top hint-- add-role-btn" data-item-id="@userId" data-role-id="@item.RoleId"
                                   data-toggle="tooltip" data-placement="top" title="@Localization.GetString("AddRole", @ResourceFile)">
                                    <span class="glyphicon glyphicon-plus color-white" aria-hidden="true"></span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-danger">@Localization.GetString("YouAreSure", @ResourceFile)</h2>
                </div>
                <div class="modal-body">
                    <p class="text-danger">@Localization.GetString("ClearStartEndDate", @ResourceFile)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmDelete">@Localization.GetString("Ok", @ResourceFile)</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localization.GetString("Cancel", @ResourceFile)</button>
                </div>
            </div>
        </div>
    </div>
    <div class="data-footer">
        <span class="text-align-left">@Localization.GetString("Page", @SharedResourceFile) @pageView @Localization.GetString("Of", @SharedResourceFile) @Model.PagesTotal @Localization.GetString("Pages", @SharedResourceFile)</span>
        <div class="input-group ml10">
            <span class="input-group-btn">
                <button class="btn btn-primary box-shadow" type="submit">@Localization.GetString("GoToPage", @SharedResourceFile)</button>
            </span>
            @Html.TextBoxFor(m => m.GoToPage, new { @class = "form-control", @type = "text", @style = "width: 82px; height: 40px;box-shadow: 0 0 3px 0 #888888" })
        </div>
        <div class="right">
            <span> @Localization.GetString("Showing", @SharedResourceFile) @showing @Localization.GetString("To", @SharedResourceFile) @pageIndexTo @Localization.GetString("Of", @SharedResourceFile) @Model.RecordsTotal @Localization.GetString("Entries", @SharedResourceFile)</span>
            <a class="btn btn-default btn-sm hint--top hint--" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.Take, pageIndex = @pageIndexMinus, search = @Model.Search, itemId = @userId })"
               data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Previus", @SharedResourceFile)">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default btn-sm ml5 hint--top hint--" href="@Url.Action("UserRoles", "UserManage", new { take = @Model.Take, pageIndex = @pageIndexPlus, search = @Model.Search, itemId = @userId })"
               data-toggle="tooltip" data-placement="top" title="@Localization.GetString("Next", @SharedResourceFile)">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    var correctlyEdited = '@DotNetNuke.Services.Localization.Localization.GetString("CorrectlyEdited.Text", "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/UserRoles.resx")';
    var errorOccurred = '@DotNetNuke.Services.Localization.Localization.GetString("ErrorOccurred.Text", "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/UserRoles.resx")';

    $('.add-role-btn').on('click', function(e) {
        e.preventDefault();

        var itemId = $(this).data('item-id');
        var roleId = $(this).data('role-id');
        var url = '@Url.Action("AddUserRole", "UserManage")' + '?itemId=' + itemId + '&roleId=' + roleId;

        $.ajax({
            url: url,
            type: 'POST',
            success: function(response) {
                // Show a success message
                alert('User role added successfully');
                location.reload();
            },
            error: function(error) {
                // Show an error message
                alert('An error occurred while adding the user role');
            }
        });
    });

    $('.remove-role-btn').on('click', function(e) {
        e.preventDefault();

        var itemId = $(this).data('item-id');
        var roleId = $(this).data('role-id');
        var url = '@Url.Action("RemoveUserRole", "UserManage")' + '?itemId=' + itemId + '&roleId=' + roleId;

        $.ajax({
            url: url,
            type: 'POST',
            success: function(response) {
                // Show a success message
                alert('User role removed successfully');
                location.reload();
            },
            error: function(error) {
                // Show an error message
                alert('An error occurred while removing the user role');
            }
        });
    });

    $('.startPicker').each(function() {
        $(this).datepicker({
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy-mm-dd',
        }).on('changeDate', function(e) {
            var date = $(this).find('input').val(); // Get the date from the input field
            var roleId = $(this).data('role-id');
            var itemId = @userId; // Get the itemId from the Razor variable
            var baseUrl = '@Url.Action("UpdateDateTimeUserRole", "UserManage")';
            var url = baseUrl + '?itemId=' + itemId + '&roleId=' + roleId;
            // Check if it's startPicker or expiresPicker
            if ($(this).hasClass('startPicker')) {
                url += '&effectiveDate=' + date;
            }
            // Send the AJAX request
            $.ajax({
                url: url,
                type: 'POST',
                success: function(response) {
                    // Show a success message
                    alert(correctlyEdited);
                    location.reload();
                },
                error: function(error) {
                    // Show an error message
                    alert(errorOccurred);
                }
            });

            // Update the minimum selectable date of the expiresPicker
            var newDate = new Date(e.date);
            newDate.setDate(newDate.getDate() + 1); // Add one day to the selected date
            $(this).closest('tr').find('.expiresPicker').datepicker('setStartDate', newDate);
        });
    });

    $('.expiresPicker').each(function() {
        var expiresDateInput = $(this).find('.expiresDateInput');
        var expiresDate = expiresDateInput.val() ? new Date(expiresDateInput.val()) : new Date();
        var minExpiresDate = new Date(expiresDate);
        // Get the startPicker value
        var startPickerValue = $(this).closest('tr').find('.startPicker input').val();
        if (startPickerValue) {
            // Parse year, month, and day from startPickerValue
            var [year, month, day] = startPickerValue.split('-').map(Number);
            // Create a new date in local time
            minExpiresDate = new Date(year, month - 1, day);
            minExpiresDate.setDate(minExpiresDate.getDate() + 1);
        }
        $(this).datepicker({
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy-mm-dd',
            startDate: minExpiresDate,
        }).on('changeDate', function(e) {
            var date = $(this).find('input').val(); // Get the date from the input field
            var roleId = $(this).data('role-id');
            var itemId = @userId; // Get the itemId from the Razor variable
            var baseUrl = '@Url.Action("UpdateDateTimeUserRole", "UserManage")';
            var url = baseUrl + '?itemId=' + itemId + '&roleId=' + roleId;
            // Check if it's startPicker or expiresPicker
            if ($(this).hasClass('expiresPicker')) {
                url += '&expiryDate=' + date;
            }
            // Send the AJAX request
            $.ajax({
                url: url,
                type: 'POST',
                success: function(response) {
                    // Show a success message
                    alert(correctlyEdited);
                    location.reload();
                },
                error: function(error) {
                    // Show an error message
                    alert(errorOccurred);
                }
            });
        });
    });

    var roleId; // Define roleId in a scope accessible to both event handlers

    $('.deleteButton').click(function(e) {
        e.preventDefault();
        roleId = $(this).data('role-id'); // Assign the roleId from the clicked button to the outer roleId variable
        $('#confirmModal').modal('show');
    });

    $('#confirmDelete').click(function() {
        $('#confirmModal').modal('hide');
        var itemId = @userId; // Get the itemId from the Razor variable
        var baseUrl = '@Url.Action("SetDateTimeUserRoleNull", "UserManage")';
        var url = baseUrl + '?itemId=' + itemId + '&roleId=' + roleId;
        $.ajax({
            url: url,
            type: 'POST',
            success: function(response) {
                // Show a success message
                alert(correctlyEdited);
                location.reload();
            },
            error: function(error) {
                // Show an error message
                alert(errorOccurred);
            }
        });
    });
});
</script>
<script>
    $(function () {
        $('.dropdown-toggle').dropdown()
    });

    $(function () {
    var deleteText = '@DotNetNuke.Services.Localization.Localization.GetString("DeleteConfirmation.Text", "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Index.resx")';
    $('#dialogs-delete .confirm').dnnConfirm({
        title: "",
        yesText: "Delete",
        noText: "Cancel",
        dialogClass: 'dnnFormPopup',
        text: '<p style="font-size:20px;">' + deleteText + '</p>'
    });
});
</script>